variables:
  current_time:
    type: time
  current_date:
    type: date
  static_text:
    type: static
    text: "Betabrite Sign Test"
messages:
  - data:
      - current_time
      - current_date
    mode: hold
    color: "green"
  - data:
      - static_text
    mode: "rotate"
    color: "rainbow1"
