[Unit]
Description=Home Assistant Betabrite Sign

[Service]
User=pi
WorkingDirectory=/home/pi/ha-betabrite-sign
ExecStart=/usr/bin/python3 /home/pi/ha-betabrite-sign/main.py -c /home/pi/ha-betabrite-sign/config.conf

[Install]
WantedBy=multi-user.target
